* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #f4a5ae, #da83a5, #b666a2, #8650a1, #3b429f);
    background-repeat: no-repeat;
}


#card {
    background-color: #AA7DCE;
    opacity: 1;
    background-image:  linear-gradient(30deg, #F4A5AE 12%, transparent 12.5%, transparent 87%, #F4A5AE 87.5%, #F4A5AE), linear-gradient(150deg, #F4A5AE 12%, transparent 12.5%, transparent 87%, #F4A5AE 87.5%, #F4A5AE), linear-gradient(30deg, #F4A5AE 12%, transparent 12.5%, transparent 87%, #F4A5AE 87.5%, #F4A5AE), linear-gradient(150deg, #F4A5AE 12%, transparent 12.5%, transparent 87%, #F4A5AE 87.5%, #F4A5AE), linear-gradient(60deg, #F4A5AE77 25%, transparent 25.5%, transparent 75%, #F4A5AE77 75%, #F4A5AE77), linear-gradient(60deg, #F4A5AE77 25%, transparent 25.5%, transparent 75%, #F4A5AE77 75%, #F4A5AE77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    min-width: 350px;
    max-width: 350px;
    margin: 200px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px #F4A5AE;
}

 #card > img {
    padding: 32px; 
    max-width: 100%;
    border-radius: 40px 40px 40px 40px;
    margin: 0 auto ;
    display: block;
 }

 #texto{
     text-align: center;
     font-family: sans-serif;
     color: #F8F3F5;
 }

 #redes{
    padding-bottom: 32px;
 }