* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(180deg, #adffff 0, #a4ffff 25%, #9df2f2 50%, #97dade 75%, #92c5cb 100%);

}

#card {
    background-color: #FFA69E;
    min-width: 400px;
    max-width: 350px;
    margin: 100px 500px;
    border-radius: 10px;
    overflow: hidden;

    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 2;
    color: #AA4465;
    padding-top: 40px;
    padding-bottom: 40px;
    cursor: pointer;
}

input[type="text"]{
    border: none;
    border-radius: 4px;
    background-color: #adffff;
    text-align: center;
}

input[type="date"] {
    border: none;
    text-align: center;
    border-radius: 4px;
    background-color: #adffff;
}

input:hover{
    background-color: #FFA69E;
}

input:focus {
    outline: 2px solid #adffff;
    border: none;
  }

select{
    border: none;
    text-align: center;
    border-radius: 4px;
    background-color: #adffff;
}

select:hover {
    background-color: #FFA69E;
}

select:focus {
    outline: 2px solid #adffff;
    border: none;
}

textarea:hover {
    background-color: #FFA69E;
}

textarea:focus {
    outline: 2px solid #adffff;
    border: none; 

}
textarea{
    border: none;
    text-align: center;
    border-radius: 5px;
    background-color: #adffff;
    font-weight: 500;
}



button {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px 26px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 10px;
    border: none;
   }
   
   button span {
    position: relative;
    color: #93E1D8;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
   }
   
   button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #AA4465;
    transition: .5s;
   }
   
   button .liquid::after,
   button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background:  #FFA69E;
   }
   
   button .liquid::before {
    border-radius: 45%;
    background: #DDFFF7(20, 20, 20, 1);
    animation: animate 5s linear infinite;
   }
   
   button .liquid::after {
    border-radius: 40%;
    background: #DDFFF7(20, 20, 20, .5);
    animation: animate 10s linear infinite;
   }
   
   button:hover .liquid {
    top: -120px;
   }
   
   @keyframes animate {
    0% {
     transform: translate(-50%, -75%) rotate(0deg);
    }
   
    100% {
     transform: translate(-50%, -75%) rotate(360deg);
    }
   }